<table *appShowMovies="showMovies">
  <tbody>
    <tr>
      <td appChangeMovie appCustomList>Beetlejuice</td>
    </tr>
    <tr>
      <td appCustomList>Edward aux mains d'argent</td>
    </tr>
    <tr>
      <td appCustomList>Sleepy Hollow, la légende du cavalier sans tête</td>
    </tr>
    <tr>
      <td appCustomList>L'étrange Noël de Monsieur Jack</td>
    </tr>
    <tr>
      <td appCustomList>Les Noces funèbres</td>
    </tr>
    <tr>
      <td appCustomList>Big Eyes</td>
    </tr>
  </tbody>
</table>